@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}



@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px,auto)) / repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {  
        padding: 60px 0 0 0;
        column-gap: 100px;
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit,350px);
            grid-auto-rows: minmax(70px,auto);
            column-gap: 0;
            justify-content: space-evenly;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
        &__item {
            &:hover {
            filter: none;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
        }
    }
}



@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .menu {
        &__close {
            &:hover {
                svg {
                    transform: none;
                }
            }
        }
        &__social {
            &:hover {
                svg {
                    transform: none;
                }
            }
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                gap: 20px;
            }
        }
    }
    .promo {
        &__link {
            &:hover {
            border: none;
            }
        }
    }
    .resume {
        padding-top: 80px;
        .divider {
            margin-top: 0;
        }
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: repeat(2,340px);
            column-gap: 30px;
        }
    }
    .skills {
        padding-top: 100px;
        &__items {
            grid-template-columns: repeat(auto-fit,270px);
            justify-content: space-evenly;
        }
        &__ratings {
            margin-top: 100px;
            justify-content: space-between;
        }
    }
    .portfolio {
        &__wrapper {
            gap: 20px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
            
        }
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            justify-content: center;
        }
    }
}



@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {

        &_fz48 {
            font-size: 32px;
        }
    }
    .promo {
        &__title {
            width: 350px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 600px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
            margin: 0 auto;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
            grid-template-columns: 40px 200px;
            column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        .divider {
            margin-top: 0;
        }
        &__items {
            margin-top: 25px;
            justify-content: center;
        }
        &__ratings {
            margin-top: 60px;
            grid-template-columns: 350px;
            justify-content: center;
        }
    }
    .portfolio {
        padding-top: 45px;
        .divider {
            margin-top: 0;
            }
        &__wrapper {
            margin-top: 40px;
        }
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            margin-top: 20px;
            justify-content: center;
            row-gap: 20px;
        }
    }
    .contacts {
        padding-top: 40px;
        &__form {
            grid-template-columns: repeat(2, 235px);
        }
    }
}



@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
            
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 255px;
            padding-left: 20px;
        }
    }
    .promo {
        &__title {
            width: 300px;
        }
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 390px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
        .divider {
            margin-top: 0;
        }
    }
    .skills {
        &__items {
            margin-top: 40px;
            grid-template-columns: 270px;
            gap: 20px;
        }
        &__ratings {
            margin-top: 60px;
            grid-template-columns: 300px;
            place-content: center;
            &-line {
                width: 300px;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 140px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}